---
import { ViewTransitions } from "astro:transitions";
import FloatWaButton from "@/components/float-wa-button.astro";
import "@/assets/style.css";

interface Props {
	title?: string;
	description?: string;
	colored?: boolean;
}

const { title, description, colored = false } = Astro.props;
const resolvedTitle = `DUSPOR${title ? " | " + title : ""}`;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description ?? ""} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:url" content="https://duspor.caiquedecamargo.com.br" />
		<meta property="og:description" content={description} />
		<meta property="og:title" content={title} />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<script
			is:inline
			src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

		<link rel="icon" type="image/svg+xml" href="/logo-min.svg" />
		<title>{resolvedTitle}</title>

		<ViewTransitions />

		<slot name="head" />
	</head>

	<body
		class:list={[
			"w-screen overflow-x-hidden font-helvetica",
			colored ? "bg-primary" : "bg-white",
		]}
	>
		<script
			is:inline
			src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
		></script>
		<script is:inline>
			const loadFont = () => {
				WebFont.load({
					custom: {
						families: ["Helvetica", "Basement Grotesque"],
						urls: ["/fonts.css"],
					},
				});
			};

			loadFont();

			document.addEventListener("astro:after-swap", () => {
				loadFont();
			});
		</script>

		<slot />

		<FloatWaButton />
	</body>
</html>
